@import "tailwindcss";
@theme light {
  --color-grass: #a7f256;
  --color-thick-grass: #489433;
  --color-blue: #3563e9;
  --color-red: #ff0000;
  --color-yellow: #fffc00;
  --color-white: #ffffff;
  --color-cement: #1b1d1e;
  --color-black: #000000;
  --color-light-blue: #f8fafc;
  --color-gray: #c7c7c7;
}

@theme {
  --animate-fade-in-scale: fade-in-scale 0.5s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  --animate-float: float 6s ease-in-out infinite;
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  --animate-float-delayed: float-delayed 6s ease-in-out infinite 2s;
  @keyframes float-delayed {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
  }
}

html {
  height: 100%;
  overflow: auto; /* Allow scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

#root {
  height: 100%;
}
button {
  cursor: pointer;
}
* {
  user-select: none;
}
::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-track {
  background: var(--color-cement); /* 스크롤바 트랙 배경색 */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grass); /* 스크롤바 색상 */
  border-radius: 6px; /* 스크롤바 모서리 둥글게 */
  border: 3px solid var(--color-cement); /* 스크롤바와 트랙 사이의 간격 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-thick-grass); /* 스크롤바 호버 색상 */
}
