@import "tailwindcss";
@theme light {
  --color-grass: #EFF0EC;
  --color-thick-grass: #489433;
  --color-blue: #3563E9;
  --color-red: #FF0000;
  --color-yellow: #FFFC00;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-light-blue: #F8FAFC;
  --color-gray: #C7C7C7;
}
html {
  height: 100%;
  overflow: auto; /* Allow scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

body {
  height: calc(100% - 80px);
  margin-top: 80px;
}
#root {
  height: 100%;
}
button {
  cursor: pointer;
}
* {
  user-select: none;
}
::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-track {
  background: var(--color-light-blue); /* 스크롤바 트랙 배경색 */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-blue); /* 스크롤바 색상 */
  border-radius: 6px; /* 스크롤바 모서리 둥글게 */
  border: 3px solid var(--color-light-blue); /* 스크롤바와 트랙 사이의 간격 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-thick-grass); /* 스크롤바 호버 색상 */
}
